[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
crypto-kiwis = {path = ".", editable = true}
"54fc45f" = {path = "./../plug1/libs/plug-0.0.20"}
plug-api = {path = "./../plug1/libs/plug-api-1.6.1"}
pytest = "*"

[requires]
python_version = "3.7"
