[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
crypto-kiwis = {path = ".", editable = true}
"a2da198" = {path = "./../../plug1/libs/plug-0.0.20.tar.gz"}
"30e479b" = {path = "./../../plug1/libs/plug-api-1.6.1.tar.gz"}

[requires]
python_version = "2.7"
